@media only screen and (min-width: 10rem) {
    

    header{
        background-color: lightgray;
        color: whitesmoke;
        text-align: center; 
        border-radius: 1em;
        /* width: 100%; */
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        /* padding-left: 40px; */
        box-shadow: 10px 10px lavender;
    }
    h1 {
        font-size: 3em;
        font-family: 'Tangerine', serif;
    
    }
    h2 {
        padding-bottom: 1em;
        line-height: 10px;
        font-family: 'Tangerine', serif;

    }

    h3 {
        font-size: 3em;
        color: whitesmoke;
    }
    footer{
        background-color: lightgray;
        color: whitesmoke; 
        align-items: center;
        font-size: 20px;
        border-radius: 2em;
        width: 100%;
        padding-left: 50px;
        text-align: center;
        box-shadow: 10px 10px lavender;
    }
    main {
        display: flex;
        flex-direction: column;
    }

    section {
        padding: 5em;
        text-align: center;
        margin: 4em;
        background-color: lavender;
        border-radius: 2em;
        font-family: 'Tangerine', serif;
        border-radius: 70px;
        overflow: hidden;
        box-shadow: 10px 10px lightgray;
        
    }

    img {
        max-width: 100%;
    }
    


}