@media only screen and (min-width: 10rem) {



    header{
        background-color: lightgray;
        color: whitesmoke;
        text-align: center; 
        border-radius: 3em;
        /* width: 100%; */

        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        /* padding-left: 40px; */
    }
    h1 {
        font-size: 3em;
        line-height: 1.09em;
        font-family: Century, sans-serif;
    
    }
    h2 {
        padding-bottom: 1em;
        padding-right: 2em;
        line-height: 40px;
        font-family: Arial, Helvetica, sans-serif;
        font-family: Century, sans-serif;

    }
    footer{
        background-color: lightgray;
        color: whitesmoke; 
        align-items: center;
        font-size: 20px;
        border-radius: 2em;
        width: 100%;
        padding-left: 50px;
        text-align: center;
    }
    main {
        display: flex;
        flex-direction: column;
    }

    section {
        padding: 5em;
        text-align: center;
        margin: 2em;
        background-color: lavender;
        border-radius: 2em;
        font-family: Arial, Helvetica, sans-serif;
    }

    img {
        max-width: 100%;
    }


}