@media only screen and (min-width: 992px){
    nav ul li a {
        padding: .5rem 1rem;
    }
        
    main {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
    }
    .eventInformation, .news{
        grid-column: 1/2;
    }
    .weather{
        grid-column: 2/3;
    }

    .highlights2, .hero {
        grid-column: 1/3;
        
    }
}