@media only screen and (min-width: 768px) {
    button {
        display: none;
    }
    nav ul#primaryNav{
        display: flex;
        flex-flow: wrap;
        flex-flow: row;
        margin: 2vw;
    }
    nav ul li a {
        border: none;

    }

    .small {
        display: none;
    }
    .large {
        display: none;
    }
    .medium{
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 10%;
        background-color: white;
        max-width: 100%;
    }
    .heroMediumImage{
        max-width: 100%;
        position: relative;
    }
    .membershipDetails{
        display: block;
        margin-top: 2rem;
    }


}
