@media only screen and (min-width: 10rem) {

html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

#headerLogo, #footerLogo {
    max-width: 30%;
    height: auto;
    margin: .5em;
}

#instagram, #youtube {
    max-width: 20%;
    margin-left: 1em;

}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(37, 62, 35, 0.3);

}

html{
    background-color: #d4d6d5;
}

h1{
    color: #1b1719;
    text-align: center;
    font-size: 2em;
    margin-right: 1em;

}

button {
    margin: .2rem, 2vw;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: #555;
}
nav {
    background-color: #eee;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem, 2vw;
    text-decoration: none;
    color: #333;
    border-top: 1px solid rgba(0,0,0,.5);
}

nav ul li.active a {
    background-color: rgba(0,0,0,.2);
    color: #fff;
}

nav ul li a:hover {
    background-color: rgba(0,0,0,.3);
}

nav ul {
    display:none;
}
nav ul.open {
    display:block;
}

#haburgerBtn span:nth-child(1) {
    display: block;
}
#haburgerBtn span:nth-child(2) {
    display: none;
}
#haburgerBtn.open span:nth-child(1) {
    display: none;
}
#haburgerBtn.open span:nth-child(2) {
    display: block;
}

main {
    display: flex;
    flex-direction: column;
}

section {
    padding: 5em;
    text-align: center;
    margin: 2em;
    background-color: rgba(37, 62, 35, 0.3);
    border-radius: 2em;
}
}